html, body {
  font-family: "Press Start 2P";
}
body {
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
.text-right {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 550px;
  pointer-events: none;
}
.text-left {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 400px;
  pointer-events: none;
}
.btn-crazy {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.1s ease all;
  transform:translate(-50%,-50%);

  width: 100px;
  height: 100px;
}
.btn-start {
  display: block;
  position: absolute;
  top: 40%;
  left: 45%;
  transition: 0.1s ease all;
  background: white;
  color: black;
  border: 3px solid black;

  width: 150px;
  height: 150px;
}

.home-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}